In [61]:
#Import necessary libraries
import pandas as pd
import numpy as np
from datetime import datetime

In [62]:
# Read data from csv file
df = pd.read_csv(r'C:\Users\WSEDR\Downloads\3) Sentiment dataset.csv')

In [63]:
#Summary of the dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 732 entries, 0 to 731
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0.1  732 non-null    int64
 1   Unnamed: 0    732 non-null    int64
 2   Text          732 non-null    object
 3   Sentiment     732 non-null    object
 4   Timestamp     732 non-null    object
 5   User          732 non-null    object
 6   Platform      732 non-null    object
 7   Hashtags      732 non-null    object
 8   Retweets      732 non-null    float64
 9   Likes         732 non-null    float64
 10  Country       732 non-null    object
 11  Year          732 non-null    int64
 12  Month         732 non-null    int64
 13  Day           732 non-null    int64
 14  Hour          732 non-null    int64
dtypes: float64(2), int64(6), object(7)
memory usage: 85.9+ KB

In [64]:
#Returns the first 5 rows of the dataset
df.head()

,Unnamed: 0.1,Unnamed: 0,Text,Sentiment,Timestamp,User,Platform,Hashtags,Retweets,Likes,Country,Year,Month,Day,Hour
0,0,0,Enjoying a beautiful day at the park! ...,Positive,2023-01-15 12:30:00,User123,Twitter,#Nature #Park,15.0,30.0,USA,2023,1,15,12
1,1,1,Traffic was terrible this morning. ...,Negative,2023-01-15 08:45:00,CommuterX,Twitter,#Traffic #Morning,5.0,10.0,Canada,2023,1,15,8
2,2,2,Just finished an amazing workout! ðŸ’ª ...,Positive,2023-01-15 15:45:00,FitnessFan,Instagram,#Fitness #Workout,20.0,40.0,USA,2023,1,15,15
3,3,3,Excited about the upcoming weekend getaway! ...,Positive,2023-01-15 18:20:00,AdventureX,Facebook,#Travel #Adventure,8.0,15.0,UK,2023,1,15,18
4,4,4,Trying out a new recipe for dinner tonight. ...,Neutral,2023-01-15 19:55:00,ChefCook,Instagram,#Cooking #Food,12.0,25.0,Australia,2023,1,15,19

In [65]:
#Summary of descriptive statistics
df.describe(include='all')

,Unnamed: 0.1,Unnamed: 0,Text,Sentiment,Timestamp,User,Platform,Hashtags,Retweets,Likes,Country,Year,Month,Day,Hour
count,732.000000,732.000000,732,732,732,732,732,732,732.000000,732.000000,732,732.000000,732.000000,732.000000,732.000000
unique,NaN,NaN,707,279,683,685,4,697,NaN,NaN,115,NaN,NaN,NaN,NaN
top,NaN,NaN,"A compassionate rain, tears of empathy fallin...",Positive,2022-07-17 06:15:00,WindWhisperer,Instagram,#Compassionate #TearsOfEmpathy,NaN,NaN,USA,NaN,NaN,NaN,NaN
freq,NaN,NaN,3,44,3,3,258,3,NaN,NaN,59,NaN,NaN,NaN,NaN
mean,366.464481,369.740437,NaN,NaN,NaN,NaN,NaN,NaN,21.508197,42.901639,NaN,2020.471311,6.122951,15.497268,15.521858
std,211.513936,212.428936,NaN,NaN,NaN,NaN,NaN,NaN,7.061286,14.089848,NaN,2.802285,3.411763,8.474553,4.113414
min,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,5.000000,10.000000,NaN,2010.000000,1.000000,1.000000,0.000000
25%,183.750000,185.750000,NaN,NaN,NaN,NaN,NaN,NaN,17.750000,34.750000,NaN,2019.000000,3.000000,9.000000,13.000000
50%,366.500000,370.500000,NaN,NaN,NaN,NaN,NaN,NaN,22.000000,43.000000,NaN,2021.000000,6.000000,15.000000,16.000000
75%,549.250000,553.250000,NaN,NaN,NaN,NaN,NaN,NaN,25.000000,50.000000,NaN,2023.000000,9.000000,22.000000,19.000000
max,732.000000,736.000000,NaN,NaN,NaN,NaN,NaN,NaN,40.000000,80.000000,NaN,2023.000000,12.000000,31.000000,23.000000

In [66]:
#Returns the dimension of the dataset(rows,columns)
df.shape

(732, 15)

In [67]:
#Drops a column
df=df.drop(['Unnamed: 0.1', 'Unnamed: 0'], axis=1)

In [69]:
#New shape of the column after the drop
df.shape

(732, 13)

Remove Duplicates

In [70]:
#Remove duplicates
df =df.drop_duplicates()

In [71]:
df.shape

(712, 13)

Handle Missing Values

In [72]:
df.isnull().sum()

Text         0
Sentiment    0
Timestamp    0
User         0
Platform     0
Hashtags     0
Retweets     0
Likes        0
Country      0
Year         0
Month        0
Day          0
Hour         0
dtype: int64

Parse and Validate Timestamps

df['Timestamp'] = pd.to_datetime(df['Timestamp'])

In [73]:
df.head(2)

,Text,Sentiment,Timestamp,User,Platform,Hashtags,Retweets,Likes,Country,Year,Month,Day,Hour
0,Enjoying a beautiful day at the park! ...,Positive,2023-01-15 12:30:00,User123,Twitter,#Nature #Park,15.0,30.0,USA,2023,1,15,12
1,Traffic was terrible this morning. ...,Negative,2023-01-15 08:45:00,CommuterX,Twitter,#Traffic #Morning,5.0,10.0,Canada,2023,1,15,8

Clean Text Data (Text Column)

In [74]:
df['Text']=df['Text'].str.strip()

In [75]:
df['Text']=df['Text'].str.replace(r'\s+', ' ',regex=True)

Clean Categorical Columns (Strip Whitespaces)

In [76]:
cols_to_strip = ['Sentiment','User','Platform','Hashtags','Country']
df[cols_to_strip] = df[cols_to_strip].apply(lambda x: x.str.strip())

Fix Data Types for Numerical Columns

In [77]:
df['Retweets'] = df['Retweets'].astype(int)
df['Likes'] = df['Likes'].astype(int)

Detect and Handle Outliers

In [78]:
num_cols = ['Retweets', 'Likes', 'Year','Month','Day','Hour']

for col in num_cols:
    Q1 =df[col].quantile(0.25)
    Q3 =df[col].quantile(0.75)
    IQR= Q3-Q1
    lower =Q1 - 1.5 * IQR
    upper=Q3 + 1.5 * IQR

    df[f'{col}_Outlier'] = ((df[col] < lower) | (df[col] > upper)).astype(int)

df[[col for col in df.columns if 'Outlier' in col]].sum()

Retweets_Outlier    18
Likes_Outlier       18
Year_Outlier        11
Month_Outlier        0
Day_Outlier          0
Hour_Outlier         4
dtype: int64

Final Validation and Summary

In [79]:
df.shape

(712, 19)

In [84]:
df.head(2)

,Text,Sentiment,Timestamp,User,Platform,Hashtags,Retweets,Likes,Country,Year,Month,Day,Hour,Retweets_Outlier,Likes_Outlier,Year_Outlier,Month_Outlier,Day_Outlier,Hour_Outlier
0,Enjoying a beautiful day at the park!,Positive,2023-01-15 12:30:00,User123,Twitter,#Nature #Park,15,30,USA,2023,1,15,12,0,0,0,0,0,0
1,Traffic was terrible this morning.,Negative,2023-01-15 08:45:00,CommuterX,Twitter,#Traffic #Morning,5,10,Canada,2023,1,15,8,1,1,0,0,0,0

Prepare Numerical Data for Scaling

In [81]:
X_num = df[num_cols].copy()
print(X_num.describe())

         Retweets       Likes         Year       Month         Day        Hour
count  712.000000  712.000000   712.000000  712.000000  712.000000  712.000000
mean    21.542135   42.966292  2020.476124    6.108146   15.514045   15.592697
std      7.124840   14.215995     2.828326    3.406099    8.444895    4.062778
min      5.000000   10.000000  2010.000000    1.000000    1.000000    0.000000
25%     17.750000   34.750000  2019.000000    3.000000   10.000000   13.000000
50%     22.000000   43.000000  2021.000000    6.000000   15.000000   16.000000
75%     25.000000   50.000000  2023.000000    9.000000   22.000000   19.000000
max     40.000000   80.000000  2023.000000   12.000000   31.000000   23.000000

Standardization

In [82]:
from sklearn.preprocessing import StandardScaler

scaler_z = StandardScaler()
X_z = scaler_z.fit_transform(X_num)
df_z = pd.DataFrame(X_z, columns=[f'{col}_z' for col in num_cols])

# Stats for Retweets
retweets_mean = X_num['Retweets'].mean()
retweets_std = X_num['Retweets'].std()
retweets_z_mean = df_z['Retweets_z'].mean()
retweets_z_std = df_z['Retweets_z'].std()

# Example: First value (15)
first_retweet = X_num['Retweets'].iloc[0]
first_z = (first_retweet - retweets_mean) / retweets_std

print(f"Retweets Z-score stats: Mean={retweets_z_mean:.3f}, Std={retweets_z_std:.3f}")
print(f"First Z-score: {first_z:.3f}")

Retweets Z-score stats: Mean=-0.000, Std=1.001
First Z-score: -0.918

Normalization

In [83]:
from sklearn.preprocessing import MinMaxScaler

scaler_mm = MinMaxScaler()
X_mm = scaler_mm.fit_transform(X_num)
df_mm = pd.DataFrame(X_mm, columns=[f'{col}_mm' for col in num_cols])

# Stats for Retweets
retweets_min = X_num['Retweets'].min()
retweets_max = X_num['Retweets'].max()
retweets_mm_min = df_mm['Retweets_mm'].min()
retweets_mm_max = df_mm['Retweets_mm'].max()

# Example: First value
first_mm = (first_retweet - retweets_min) / (retweets_max - retweets_min)

print(f"Retweets Min-Max stats: Min={retweets_mm_min:.3f}, Max={retweets_mm_max:.3f}")
print(f"First Min-Max: {first_mm:.3f}")

Retweets Min-Max stats: Min=0.000, Max=1.000
First Min-Max: 0.286